#mainCalendar{
    margin: auto;
    width: 500px;
    height: 450px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#settings{
    margin: auto;
    width: 500px;
    height: 300px;
    border-style: solid;
    border-color: black;
    border-width: 3px;    
}

#widgetTest{
    margin-top: 5px;
    width: 100%;
    height: 100%;    

}

#widget, #testCalendar{
    width: 48%;
    height: 450px;
    border-style: solid;
    border-color: black;
    border-width: 3px;  
    align-items: center;
}

#widget{
    margin-left: 5px;
    float: left;
}

#testCalendar{
    margin-right: 5px;
    float:right;  
    
}

textarea {
    width: 98%;
    height:98%;
}

.monthDiv, .monthButtonLeft, .monthButtonRight, .monthCenter{
    background-color:lightgrey;
    text-align: center;
    -webkit-flex: 1;
    flex: 1;    
}

.monthDiv{
    display:flex;
}

.monthButtonLeft, .monthButtonRight{
    height: 30px;
    width: 30px;

}

.monthButtonLeft {
    margin-left: 1px;
}

.monthButtonRight{
    margin-right:  1px;

}

.monthCenter{

}


th{
    text-align: center;
    height: 20px;
    background-color: gainsboro;
    padding: 0px;     
}

td, .td_current{
    height: 55px;
    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    vertical-align: top;    
}

.td_current{
    height: 55px;
    background-color: gainsboro;
}

table{
    width: 100%;
    height: 100%;
}

.addRemoveButtons{
    text-align: right;
}

.addRemoveImage{
    width: 20px;
    height: 20px;
}

.modal, .add{
    display: none;
    position: fixed;
    width: 50%;
    height: 50%;
    z-index: 1;
    top: 25%;
    left: 25%;    
   /* left: 0;
    top: 0;
   */ 
    overflow:hidden;
    overflow-y:hidden;  /*для вертикального*/
    overflow-x:hidden; 
    background-color: rgb(236, 222, 222);
    border: 1px solid black;
   
}

#list{
    margin: 5% auto;
    background-color: rgb(255, 249, 249);
    border: 1px solid black;
    width: 90%;
    height: 70%;
    top: 5px;
    left: 10%; 
    bottom: 0px;        
}

.add{
    margin: 15% auto;
    width: 80%;
    height: 100px;
    left: 10%; 
    top: 5%;
      
}

.close{
    margin-right: 10px;
    float: right;
    font-size: 20px;
    font-weight: bold;

}

#buttons{
    height: 50px;
    width: 40%;
    position: inherit;
    margin-right: 10px;
    right: 10px;
}

#newTask{
    margin-left: 10% ;
    width: 80%;
    height: 20px;
    left: 100px;

}